// header {
//   height: 100vh;
//   position: relative;
//   background-image: url("../images/cowork_bg.jpg");
//   background-size: cover;
//   background-position: top center;
//   background-repeat: no-repeat;
//   margin-bottom: 50px;
// }


/*
picture: cowork_bg.jpg
source: https://www.flickr.com/photos/thehub/12913907324
license: creative commons
license link: https://creativecommons.org/licenses/by-sa/2.0/
no changes were made on original picture
*/

.background-box {
  position: relative;
  height: 100vh;
  background-image: url("../images/cowork_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 50px;
  overflow: hidden;
}

.back-image {
  @media (min-width: 750px) {
    width: 33%;
    height: 320px;
    background-image: url("../images/back_silhouette.png");
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 25px;
    top: 300px;
  }
}

.logo {
  height: 150px;
  width: 100%;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -75px; /* half of the height of the image*/
}

.fore-image {
  @media (min-width: 750px) {
    width: 100%;
    height: 657px;
    background-image: url("../images/fore_silhouette.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    top: 300px;
  }
}
