.thank-you {
  text-align: center;
  h5 {
    color: $mainGrey;
    margin-top: 15px;
  }
  p {
    @media (min-width: 550px) {
      margin-bottom: 4.5rem;
    }
  }
}

#name-error,
#email-error {
  color: $mainColor;
  margin-bottom: 0;
}

input:disabled {
  background-color: transparentize($mainGrey, 0.8);
}

.submit {
  text-align: right;
}

%button-form {
  display: none;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  border-radius: 4px;
  box-sizing: border-box;
}

.success-button {
  @extend %button-form;
  color: #FFF;
  background-color: $successColor;
  border: 1px solid $successColor;
}

.processing-button {
  @extend %button-form;
  color: $mainColor;
  background-color: transparent;
  border: 1px solid $mainColor;
  i {
    font-size: 1.5em;
  }
}
