.thank-you {
  text-align: center;
  h5 {
    color: $mainGrey;
    margin-top: 15px;
  }
  p {
    @media (min-width: 550px) {
      margin-bottom: 4.5rem;
    }
  }
}

#error-message {
  display: none;
}

input:disabled {
  background-color: transparentize($mainGrey, 0.8);
}

.submit {
  text-align: right;
}
